@charset "UTF-8";
@media screen and (min-width:1919px) {
	
	.MainBody{
	position: relative;
	left:230px;
	top:-20px;
}
	.MainNav{
	position: relative;
	left:230px;
}
	.MainArticle{
	position: relative;
	left: 230px;
	top:-20px;
}

}

body{
	background-size: cover;
	height: 1200px;
	background-image: url("Baggrund.jpeg");	
}
a:link, a:visited, a:active {
	text-decoration: none;
	color:black;
}
a:hover {
	text-decoration: underline;
	cursor: pointer;
}
h1{
	font-size: 22px;
	color: white;
	font-family: 'Helvetica Neue', 'Arial';
	font-weight: 200;
}
h2{
	font-size: 22px;
	color: black;
	font-family: 'Helvetica Neue', 'Arial';
	font-weight: 200;	
}
.AstroText, p{
	font-size: 16px;
	color: black;
	font-family: 'Helvetica Neue', 'Arial';
	font-weight: 200;	
}
.AstroText{
	position: absolute;
	left: 93px;
	top:810px;
	width: 503px;
	word-wrap: break-word;
	
}
.Title{
	position: absolute;
	left: 93px;
	top:740px;
	width: 364px;
	word-wrap: break-word;	
}
.Recent{
	position: absolute;
	left:69px;
	top:690px;
}
.FeaturedBlank{
	position: absolute;
	left: 82px;
	top: 242px;
}
.ISSPIC{
	position: absolute;
	left: 100px;
	top: 340px;
}

.ISSTitle h1{color:black;}

.ISSTitle{
	position: absolute;
	left:100px;
	top:295px;
}
.ISSDesc{
	position: absolute;
	left:100px;
	top:580px;
}

.ArtemisTitle h1{color:black;}

.ArtemisTitle{
	position: absolute;
	left:597px;
	top:295px;
}
.ArtemisDesc{
	position: absolute;
	left:597px;
	top:580px;
}
.ArtemisPic{
	position: absolute;
	left: 597px;
	top: 340px;
}
.UpEvents{
	position: absolute;
	left: 1124px;
	top: 242px;
}
.Events {
	position: absolute;
	left: 1112px;
	top: 248px;
}
.EventsText p{
	font-size:15px;
	border-bottom:1px solid black;
	cursor: pointer;
	
}
.EventsText{
	position: absolute;
	left:1122px;
	top:282px;
	word-wrap: break-word;
	width: 240px;
	
}
.Featured {
	position: absolute;
	left: 70px;
	top: 248px;
}
.Astronauts{
	position: absolute;
	left:618px;
	top:765px;	
}
.News{
	position: absolute;
	left: 70px;
	top: 740px;
}
.Read{
	position: absolute;
	left: 93px;
	top:1000px;
}
.ReadMore a{
	color:white;
}
.ReadMore{
	position: absolute;
	left: 107px;
	top:996px;
}
.NavBar{
	position: absolute;
  	top: 98px;
	left: 70px;
  	width: 1300px;
}
.Logo{
	position: absolute;
	left:80px;
	top:68px;
}
.SmallNav{
	position: absolute;
	left:70px;
	top:218px;
}
.HumansInSpace p{color:white;}
.HumansInSpace{
	position: absolute;
	left:220px;
	top:208px;	
}
.Topics p{color:white;}
.Topics{
	position: absolute;
	left:153px;
	top:208px;	
}
.Home a{color:white;}
.Home{
	position: absolute;
	left:80px;
	top:208px;
}
.Article{
	position: absolute;
	top:98px;
	left:70px;	
}
.Related{
	position: absolute;
	left: 1124px;
	top: 242px;
}
.Date {
	position: absolute;
	left:106px;
	top:255px;
}
.BigTitle h1 {
	color:black;
	font-weight: 500;
	font-size:28px;
}
.BigTitle {
	position: absolute;
	left:106px;
	top:280px;
	width: 550px;
	word-wrap: break-word;
}
.Picture{
	position: absolute;
	left:106px;
	top:390px;
}
.PicDesc{
	position: absolute;
	left:106px;
	top:980px;
	word-wrap: break-word;
	width: 932px;
}
.PicDesc p{
	line-height: 1.4;
	font-size:12px;
}
.Credit p {
	line-height: .1;
	font-weight:500;
}
.Body{
	position: absolute;
	left:106px;
	top:1070px;
	word-wrap: break-word;
	width: 932px;
}
.Dropdown {
	position: absolute;
	top:98px;
	left:222px;
	height: 70px;
}
.Dropdown a {
	height:30px;
	width: 150px;
	text-align: center;
  	font-family: "Helvetica Neue", 'Arial';
	font-weight:500;
	font-size: 20px;
	text-decoration: none;
  	color: black;
  	padding: 15px;
  	display:inline-block;
}
ul {
  	display: inline;
  	margin: 0;
  	padding: 0;
}

ul li {display: inline-block;}
/*Når musen bliver holdt over navbar punkterne ændres baggrundsfarven og tekstens farve ændres til hvid for at skabe kontrast*/
ul li :hover {
	color:white; 
	background: #0b3d91;
}
/*Når jeg holder musen henover mine navbar punkter vises mine dropdown menuer på næste linje, altså nedunder*/
ul li:hover ul {display: block;}

ul li ul {
  	position: absolute;
  	width: 180px;
  	display: none;
}
/*Sætter linksne i dropdown menuernes baggrundsfarve til #0b3d91, bestemmer også at linksne eller de individuelle knapper i menuerne skal starte på næste linje med display:block*/
ul li ul li a { 
  	background: #0b3d91;
  	display:block;
}
/*Sætter links (a) standard farve til hvid*/
.Dropdown ul li ul li a { 
	color:white;
	font-weight: 200;
}
/*Bestemmer at mine forskellige punkter i navigationsbaren skal ændre baggrundsfarve når jeg holder musen henover dem*/
ul li ul li :hover {background: #061f4a;}

/*Styler mit søgefelt og indsætter et ikon af en luppe*/
input[type=text] {
	position: absolute;
	top:108px;
	left:1152px;
  	width: 200px;
  	box-sizing: border-box;
  	border: 2px solid #aeb0b5;
	font-display: 'Helvetica Neue', 'Arial';
  	font-size: 16px;
  	background-color: #f1f1f1;
  	background-image: url('SearchIcon_1.svg'); 
	background-size: 23px;
  	background-position: 10px 6px; 
  	background-repeat: no-repeat;
  	padding: 9px 20px 9px 40px;
}